body{
   background: rgb(11,6,106);
background: linear-gradient(177deg, rgba(11,6,106,1) 0%, rgba(47,47,149,1) 35%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
min-height:100%;
background-attachment: fixed;
color:white;
font-family:'bebas neue';
margin:0;
}

.titulo{
    padding-top:10vh;
    font-size:4.5vh;
}

.content{
background:rgb(19, 19, 19);
align-items:center;
align-content:center;
margin-top:50%;

height:50vh;
width:40vh;
border-radius:10px;
border-style:flat;
border-width:100px;
box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
font-size:2.5vh;
}

input{
    border-radius:10px;
    background-color:transparent;
    border-style:solid;
    border-color:white;
    color:white;
    border-width:2px;
    font-size:1.8vh;
}

input:focus{
      outline: none;
  border-color: #e81cff;
  color:white;
}

